<html ng-app="app">
<HEAD>
	<meta charset="utf-8">
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js">
	</script>
	<script>
	app=angular.module('app',[]);
	app.controller('MyCtrl',function($scope,$http){
		$http.get("http://10.4.80.154:8080/angularJsReadOracle/jsp/get_oracle_data.jsp")
		.success(function(response){
			$scope.empData=response;
			$scope.reverse=true;
			})
		.error(function(){
		});
	});
	</script>
</HEAD>
<body ng-controller="MyCtrl">
	Search : <input type="text" value="" ng-model="SearchField" name="SearchField" /><br>
	<table border=1>
	   <tr>
	        <th><a href="" ng-click="sortField = 'OWNER'; reverse=!reverse">Table Owner</a></th>
	        <th><a href="" ng-click="sortField = 'TABLE_NAME'; reverse=!reverse">Table Name</a></th>
	    </tr>		
    <tr ng-repeat="data in empData  | filter:SearchField | orderBy:sortField:reverse">
			<td>{{data.OWNER}}</td>
			<td>{{data.TABLE_NAME}}</td>
		</tr>
	</table>
</body>
</html>